# Environment variables
.env

# Python cache
app/__pycache__
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
.vscode/
.idea/

# Don't ignore these for Streamlit Cloud deployment
# junior fullstack developer/
# data/
# results.csv